[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "content/themes/enterprise/core"]
	path = content/themes/enterprise/core
	url = https://github.com/justintadlock/hybrid-core.git
[submodule "content/themes/jobify"]
	path = content/themes/jobify
	url = git@github.com:AutoJobRocket/Jobify.git
